extends layout

block content
  .container-fluid
    .row
      #coverflow01.coverflow
        #main.jumbotron
          h1 Choose your team!
          h3 These are all the people that could be in your project
    .row
      #content03.content
        .row
          .col-lg-offset-1.col-lg-10
            .row
              each p in people
                .col-md-4.col-sm-6
                  .tile.well
                    .row
                      .col-lg-6
                        .thumbnail
                          img#avatarImg.avatar(src='/images/female_avatar.png', alt='Avatar')
                      .col-lg-6
                        .text-left
                          h3 #{p.fullname}
                          h4.breakWord #{p.username}
                    .row
                      .col-xs-offest-1.col-xs-10
                        .text-left
                          h4 Bio: 
                          h5.breakWord.truncate #{p.bio}
                          h4 Languages: 
                          h5.truncate
                            - for (var i=0; i<p.programmingLanguages.length; i++)
                              - if (i != p.programmingLanguages.length - 1)
                                span= p.programmingLanguages[i]+", "
                              - else
                                span= p.programmingLanguages[i]
                        
    
  script.
    $(function(){
      $('.truncate').succinct({
        size: 100
      });
    });
