//To access potential projects
// - for (var i = 0; i < projects.length; i++)
//      - projects[i].title;
//      - projects[i].whatever;

//To access the user
//  user.username;
//  user.whatever;

extends layout

block content
  .container-fluid
    .row
      #coverflow01.coverflow
        #main.jumbotron
          h1 Choose your team!
          h3 These are all the people that could be in your project
    .row
      #content03.content
        .row
          .col-lg-offset-1.col-lg-10
            .row
              - for (var j = 0; j < projects.length; j++)
                - if (j%3 ==0)
                  .row
                .col-sm-4
                  .tile.well
                    .row
                      .col-lg-6
                        .thumbnail
                          img.img-responsive(src='/images/code-flat.png', alt='project', style="width: 100%")
                      .col-lg-6
                        .text-left
                          h3 #{projects[j].title}
                          h4.breakWord #{projects[j].owner}
                    .row
                      .col-xs-offest-1.col-xs-10
                        .text-left
                          h4 Bio: 
                          h5.breakWord.truncate #{projects[j].description}
                          h4 Required Languages: 
                          h5
                            - for (var i=0; i<projects[j].programmingLanguages.length; i++)
                              - if (i != projects[j].programmingLanguages.length - 1)
                                span= projects[j].programmingLanguages[i]+", "
                              - else
                                span= projects[j].programmingLanguages[i]
                        
    
  script.
    $(function(){
      $('.truncate').succinct({
        size: 240
      });
    });
