extends layout

block content
  .container-fluid
    .row
      #coverflow01.coverflow
        #main.jumbotron
          //img#avatarImg.avatar(src='/images/user_image.png', alt='Avatar')
          img(src='data:image/png;base64,#{user.data}' style="height=150px; width=150px;")
          h1 #{user.fullname}
          h2
            i #{user.username}
    .row
      .content
        .container
          .row
              .col-sm-8.col-sm-offset-2
                  .text-left
                      h3 Bio:
                      h4 #{user.bio}
          .row
              .col-sm-4.col-sm-offset-2
                  .text-left
                      h3 Country:
                      h4 #{user.country}
                      h3 State: 
                      h4 #{user.state}
                      h3 Date of birth:
                      h4 #{user.dob}
              .col-sm-4
                  .text-left
                      h3 Skill level:
                      h4 #{user.skillLevel}
                      h3 Availability per week:
                      h4 #{user.availability}
                      //- h2 Works online: #{user.online}
                      h3 Interest:
                      h4 #{user.userInterest}
          .row
              .col-sm-8.col-sm-offset-2
                  .text-left
                    h3 Programming languages: 
                    h4 
                      - for (var i=0; i<user.programmingLanguages.length; i++)
                        - if (i != user.programmingLanguages.length - 1)
                          span= user.programmingLanguages[i]+", "
                        - else
                          span= user.programmingLanguages[i]
                    
                    
          .row
              .col-sm-8.col-sm-offset-2
                  .text-left
                      h3 Accounts:
                      h4 
                        - for (var i=0; i<user.accounts.length; i++)
                          - if (i != user.accounts.length - 1)
                            span= user.accounts[i]+", "
                          - else
                            span= user.accounts[i]
          .row
              button.btn.btn-default Delete Account
