extends layout

block content
  .container-fluid
    .row
      #coverflowProject.coverflow
        #main.jumbotron
          img#avatarImg.avatar(src='/images/project_icon.png', alt='Avatar')
          h1 #{project.title}
          h2 #{project.owner}
    .row
      #content02.content
        .row
          .col-sm-8.col-md-offset-2
            .text-left
              h3 Description: 
              h4 #{project.description}
        .row
          .col-md-4.col-md-offset-2.col-sm-6
            .text-left
              h3 Country: 
              h4 #{project.country}
              h3 State: 
              h4 #{project.state}
          .col-md-4.col-sm-6
            .text-left
              h3 Difficulty: 
              h4 #{project.skillLevel}
              h3 Workload: 
              h4 #{project.workload}
              h3 Virtual meetings: 
              h4 #{project.virtualTeam}
        .row
          .col-md-6.col-md-offset-2
            .text-left
              h3 Required Programming languages: 
              h4
                - for (var i=0; i<project.programmingLanguages.length; i++)
                  - if (i != project.programmingLanguages.length - 1)
                    span= project.programmingLanguages[i]+", "
                  - else
                    span= project.programmingLanguages[i]
        .row
          form(action="/project/#{project.title}/delete", method='post')
            //- input(type='hidden', name='delete', value='delete')
            button.btn.btn-danger(name="delete", value="delete", type='submit') Delete Project
            //- button(type='submit', formmethod='post', formaction='/project/#{project.title}/delete') Submit using POST
